{% extends 'base.html.twig' %}

{% block title %}Vols index{% endblock %}


{% block body %}
    <div class="container-fluid ">
<div class="row">
<div class="col-12">
<div style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top:-45px;
  margin-bottom:10px;
   ">
<div  class="datetime">
      <div class="date">
        <span id="dayname">Day</span>,
        <span id="month">Month</span>
        <span id="daynum">00</span>,
        <span id="year">Year</span>
      </div>
      <div class="time">
        <span id="hour">00</span>:
        <span id="minutes">00</span>:
        <span id="seconds">00</span>
        <span id="period">AM</span>
      </div>
    </div>
    </div>
</div>

  <div class="col-12">
 <div class="card card-info" >
              <div class="card-header">
                <h3 class="card-title">Gestion vols</h3>
                <div class="card-tools">
                 <div style="display:flex; flex-direction: row;justify-content:flex-end">
              {{form_start(Searchform)}}
               {{form_widget(Searchform.mot,{'attr':{'class':'form-control'}})  }}
            {{form_widget(Searchform.Rechercher,{'attr':{'class':'btn-primary'}})  }}
            {{ form_end(Searchform) }}
            </div>

               
 


  




                   
                   
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                
                <th>Num Vol</th>
                <th>Date Depart Vol</th>
                <th>Date Arrivé Vol</th>
                <th>Heure Depart Vol</th>
                <th>Heure Arrivé Vol</th>
                <th>Aeroport</th>
                <th>Type Avion</th>
                <th>Type Vol</th>
                <th>Escale</th>
                <th>Compagnie</th>
                <th>Nombre passager Vol</th>
                <th>Durée Retard Vol</th>
                <th>Annulation Vol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            {% if vol.dureeRetardVol != "00:00:00"%}
            <tr style="background-color :#F1C40F">
            {% endif %}
        {% if vol.annulationVol == 1 %}
            <tr style="background-color :#E74C3C ">
            {% endif %}
         
              
                <td>{{ vol.numVol }}</td>
                <td>{{ vol.dateDepartVol }}</td>
                <td>{{ vol.dateArriveVol }}</td>
                <td>{{ vol.heureDepartVol }}</td>
                <td>{{ vol.heureArriveVol }}</td>
                <td>{{ vol.idAeroport.nomAeroport }}</td>
                <td>{{ vol.typeAvion.codeavion }}</td>
                <td>{{ vol.typeVol }}</td>
                <td>{{ vol.idEscale.idEscale }}</td>
                <td>{{ vol.idComp.nomcom }}</td>
                <td>{{ vol.nombrepassagerVol }}</td>
                <td>{{ vol.dureeRetardVol }}</td>
                <td>{{ vol.annulationVol ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_vols_show', {'idVol': vol.idVol}) }}"><i class="fa-solid fa-circle-info"></i></a>
                    <a href="{{ path('app_vols_edit', {'idVol': vol.idVol}) }}"><i class="fa-solid fa-screwdriver-wrench"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        {{knp_pagination_render(vols)}}

        </tbody>
         </table>
                <a  type="button" class="btn btn-block btn-outline-success btn-xs my-1" style="width : 200px; margin : auto;"  href="{{ path('app_vols_new') }}">Create new</a>
   

   


  <script type="text/javascript">
    function updateClock(){
      var now = new Date();
      var dname = now.getDay(),
          mo = now.getMonth(),
          dnum = now.getDate(),
          yr = now.getFullYear(),
          hou = now.getHours(),
          min = now.getMinutes(),
          sec = now.getSeconds(),
          pe = "AM";

          if(hou >= 12){
            pe = "PM";
          }
          if(hou == 0){
            hou = 12;
          }
          if(hou > 12){
            hou = hou - 12;
          }

          Number.prototype.pad = function(digits){
            for(var n = this.toString(); n.length < digits; n = 0 + n);
            return n;
          }

          var months = ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "October", "November", "December"];
          var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
          var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
          var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
          for(var i = 0; i < ids.length; i++)
          document.getElementById(ids[i]).firstChild.nodeValue = values[i];
    }

    function initClock(){
      updateClock();
      window.setInterval("updateClock()", 1);
    }
    </script>

   <style>

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
  
  
  
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
      


</style>



   <script src="//code.jquery.com/jquery.js"></script>
 
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
              {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
